<div class="background">
    <h1>
        Welcome to Copenhagen Volunteers!
    </h1>
    <p>
        Sign up to become a Copenhagen volunteer today! Volunteer work is your chance to get out there and gain some experiences.
    </p>
    <slideshow class="slider" [height]="'50%'" [minHeight]="'300px'" [autoPlay]="true" [showArrows]="false" [imageUrls]="imageUrls" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
    </slideshow>
    <h2>Tell us about yourself so you can get started!</h2>
    <header class="horizontal">
        <p> </p>
    </header>
</div>