/* You can add global styles to this file, and also import other style files */

@mixin centering ($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: center;
    justify-content: center;
    algin-content: center;
    justify-items: center;
}

body {
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.vertical {
    display: flex;
    @include centering(column);
}

.horizontal {
    display: flex;
    @include centering(row);
}

p,
label,
form,
input,
h1,
h2,
ul {
    color: white;
}


/* For Computers (Design for Mobile-first): */

@media only screen and (min-width: 768px) {}